*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --arancione-nav:#FF6900;
    --rosso-main:#FF0000;
    --nero-footer:#1A1A1A;
}


header{
    background-color:var(--arancione-nav);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}
footer{
    background-color:var(--nero-footer);
    color: white;
    
}
main{
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.container{
    width: 920px;
    margin: auto;
}

.box-nav{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    
}

.nav-text-box{
    font-family: cursive;
    padding: .2rem;

}

.box-nav span a,footer span a{
    text-decoration: none;
    color: white;
    
}

.box-nav img{
    width: 15%;
}

.nav-icons-box span >*{
    padding: .2rem;
}

.row{
    display: flex;
    justify-content: space-between;
    
}
.row >*{
    flex-basis: 30%;
    padding-top: 2rem;
}
.card-img-box{
    position: relative;
}
.card-img-box img{
    width: 100%;
    
    
}


.txt-arancione{
    color:var(--rosso-main);
}
.txt-barrato{
    text-decoration: line-through;
}
.txt-strong{
    font-weight: bolder;
}
.txt-small{
    font-size: small;
    
}

.box-sconto{
    position: absolute;
    bottom:2rem;
    left: 0;
    font-size: .7rem;
    color: white;
    
}

.heart-box{
    position: absolute;
    right: 0;
    top:1rem;
    padding: .5rem;
    background-color: white;
}

.sconto-txt{
    background-color: var(--rosso-main); 
    padding: .2rem;
}
.sostenibilita-txt{
    background-color: green;
    padding: .2rem;
}

.heart-box:hover{
    color: red;
}

.img-hover{
    display:none;
}

.card:hover .img-hover{
    display: block;
}
.card:hover .img-firts{
    display: none;
}

.box-footer{
    display: flex;
    justify-content: space-between;
    
}
.footer-dx{
    text-align: right;
}

.footer-icon{
    padding-top: .5rem;
}

.footer-icon>*{
    margin-left: .2rem;
}
.footer-txt{
    margin-bottom: .5rem;

}

